<h1>Restaurants</h1>

<div class="restaurant">

  <div class="restaurant-data">
    <% @restaurants.each do |restaurant|%>
      <h3> <strong> <%= link_to "#{restaurant.name}", restaurant %> </strong> </h3>
    <p>( <%= restaurant.category %> )</p>
    <p><strong>Address:</strong> <%= restaurant.address %> - <strong>Phone:</strong> <%= restaurant.phone_number %> </p>
    <%end%>
  </div>

  <div class="restaurant-reviews">

  </div>
</div>
