<h1><%=@restaurant.name%></h1>

<div class="restaurant">

  <div class="restaurant-data">
    <p>( <%= @restaurant.category %> )</p>
    <p><strong>Address:</strong> <%= @restaurant.address %> - <strong>Phone:</strong> <%= @restaurant.phone_number %> </p>
  </div>

  <div class="restaurant-reviews">
    <h2> Reviews </h2>
  </div>
</div>
